# Build directories
[Cc]make-[Bb]uild-*/
[Bb]uild/
[Bb]uild-*/

# Release directories
PgsPlusPlus-*/

# Generated Documentations
[Dd]ocs/*
![Dd]ocs/html/

# Generated build scripts
*.spec
!*.spec.in
pack_for_rpm.sh

# Binary PGS files
*.sup
